<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>tag</key>
		<string></string>
		<key>title</key>
		<string>cell1</string>
		<key>name</key>
		<string>5.png</string>
	</dict>
	<key>1</key>
	<dict>
		<key>tag</key>
		<string></string>
		<key>title</key>
		<string>cell2</string>
		<key>name</key>
		<string>1.png</string>
	</dict>
	<key>2</key>
	<dict>
		<key>tag</key>
		<string>2</string>
		<key>title</key>
		<string>cell3</string>
		<key>name</key>
		<string>2.png</string>
	</dict>
	<key>3</key>
	<dict>
		<key>tag</key>
		<string></string>
		<key>title</key>
		<string>cell4</string>
		<key>name</key>
		<string>3.png</string>
	</dict>
	<key>4</key>
	<dict>
		<key>tag</key>
		<string></string>
		<key>title</key>
		<string>cell5</string>
		<key>name</key>
		<string>4.png</string>
	</dict>
	<key>5</key>
	<dict>
		<key>tag</key>
		<string></string>
		<key>title</key>
		<string>cell6</string>
		<key>name</key>
		<string>5.png</string>
	</dict>
	<key>6</key>
	<dict>
		<key>tag</key>
		<string></string>
		<key>title</key>
		<string>cell7</string>
		<key>name</key>
		<string>7.png</string>
	</dict>
</dict>
</plist>
